# Zillow House Prices

Definitions used for this project:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

In [126]:
# Dictionary to map US state names to two-letter acronysms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [127]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

'''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''

### List of University towns in the US

In [128]:
data = pd.read_csv("university_towns.txt",sep= '\n',names = ['RegionName'])
data.insert(0,'State',data['RegionName'].str.extract('(.*)\[edit\]',expand = False).ffill())
data['RegionName'] = data['RegionName'].str.split('\[').str[0]
data['RegionName'] = data['RegionName'].str.split('\s\(').str[0]
unitowns = data[data['State'] != data['RegionName']]
unitowns

             State                    RegionName
1          Alabama                        Auburn
2          Alabama                      Florence
3          Alabama                  Jacksonville
4          Alabama                    Livingston
5          Alabama                    Montevallo
6          Alabama                          Troy
7          Alabama                    Tuscaloosa
8          Alabama                      Tuskegee
10          Alaska                     Fairbanks
12         Arizona                     Flagstaff
13         Arizona                         Tempe
14         Arizona                        Tucson
16        Arkansas                   Arkadelphia
17        Arkansas                        Conway
18        Arkansas                  Fayetteville
19        Arkansas                     Jonesboro
20        Arkansas                      Magnolia
21        Arkansas                    Monticello
22        Arkansas                  Russellville
23        Arkansas                        Searcy
25      California                        Angwin
26      California                        Arcata
27      California                      Berkeley
28      California                         Chico
29      California                     Claremont
30      California                        Cotati
31      California                         Davis
32      California                        Irvine
33      California                    Isla Vista
34      California  University Park, Los Angeles
..             ...                           ...
533       Virginia                          Wise
534       Virginia                    Chesapeake
536     Washington                    Bellingham
537     Washington                        Cheney
538     Washington                    Ellensburg
539     Washington                       Pullman
540     Washington  University District, Seattle
542  West Virginia                        Athens
543  West Virginia                    Buckhannon
544  West Virginia                      Fairmont
545  West Virginia                     Glenville
546  West Virginia                    Huntington
547  West Virginia                    Montgomery
548  West Virginia                    Morgantown
549  West Virginia                 Shepherdstown
550  West Virginia                  West Liberty
552      Wisconsin                      Appleton
553      Wisconsin                    Eau Claire
554      Wisconsin                     Green Bay
555      Wisconsin                     La Crosse
556      Wisconsin                       Madison
557      Wisconsin                     Menomonie
558      Wisconsin                     Milwaukee
559      Wisconsin                       Oshkosh
560      Wisconsin                   Platteville
561      Wisconsin                   River Falls
562      Wisconsin                 Stevens Point
563      Wisconsin                      Waukesha
564      Wisconsin                    Whitewater
566        Wyoming                       Laramie

[517 rows x 2 columns]

### GDP dataset and returning the zipped recession period

In [129]:
'''Return the GDP data command and zipped recession start and end'''
gdp = (pd.read_excel("gdplev.xls",skiprows = 7, nrows = 279,usecols = [4,5,6], names = ['Quarter',
                'GDPQ billions current dollars','GDPQ billions 2009 dollars']))
gdp['GDPchange'] = gdp['GDPQ billions 2009 dollars'].diff()

# Counting the number of consecutive quarters with GDP decline and the beginnning quarter
cntdecline = pd.DataFrame(columns = ['Count','Beg_Quarter']).fillna(0)
j = 0
a = 0
for i in range(1,len(gdp) - 1):
    i += a
    if(gdp.loc[i,'GDPchange'] < 0) & ((gdp.loc[i-1,'GDPchange'] > 0)):
        a = 0
        cntdecline.loc[j,'Count'] = a
        cntdecline.loc[j,'Beg_Quarter'] = gdp.loc[i,'Quarter']
        while ((gdp.loc[i,'GDPchange'] < 0) & (i < 278)):
            cntdecline.loc[j,'Count'] += 1
            a += 1
            i += 1
        j += 1        
    else :
        a = 1

# Counting the number of consecutive quarters with GDP rise and the second quarter
cntrise = pd.DataFrame(columns = ['Count','Beg_Quarter'])
st = 0
k = 0    
for i in range(1,len(gdp) - 1):
    i += st
    if (i >= 278):
        continue
    if((gdp.loc[i,'GDPchange'] > 0)  & (gdp.loc[i-1,'GDPchange'] < 0)):
        #print(i)
        st = 0
        cntrise.loc[k,'Count'] = a
        c = i
        while ((i < 278) & (gdp.loc[i,'GDPchange'] > 0)):
            cntrise.loc[k,'Beg_Quarter'] = gdp.loc[c+1,'Quarter']
            cntrise.loc[k,'Count'] += 1
            st += 1
            i += 1
            if (i >= 278):
                break
        k += 1        
    else :
        st = 1
cntrise = cntrise.drop(0).reset_index(drop = True)
  
# Merging the beginning and end of recessions
recesp =cntdecline.merge(cntrise,how= 'inner',left_index = True, right_index = True,suffixes =('d','r'))
gdp,recesp

(    Quarter  GDPQ billions current dollars  GDPQ billions 2009 dollars  \
 0    1947q1                          243.1                      1934.5
 1    1947q2                          246.3                      1932.3
 2    1947q3                          250.1                      1930.3
 3    1947q4                          260.3                      1960.7
 4    1948q1                          266.2                      1989.5
 5    1948q2                          272.9                      2021.9
 6    1948q3                          279.5                      2033.2
 7    1948q4                          280.7                      2035.3
 8    1949q1                          275.4                      2007.5
 9    1949q2                          271.7                      2000.8
 10   1949q3                          273.3                      2022.8
 11   1949q4                          271.0                      2004.7
 12   1950q1                          281.2                      2084.6
 13   1950q2                          290.7                      2147.6
 14   1950q3                          308.5                      2230.4
 15   1950q4                          320.3                      2273.4
 16   1951q1                          336.4                      2304.5
 17   1951q2                          344.5                      2344.5
 18   1951q3                          351.8                      2392.8
 19   1951q4                          356.6                      2398.1
 20   1952q1                          360.2                      2423.5
 21   1952q2                          361.4                      2428.5
 22   1952q3                          368.1                      2446.1
 23   1952q4                          381.2                      2526.4
 24   1953q1                          388.5                      2573.4
 25   1953q2                          392.3                      2593.5
 26   1953q3                          391.7                      2578.9
 27   1953q4                          386.5                      2539.8
 28   1954q1                          385.9                      2528.0
 29   1954q2                          386.7                      2530.7
 ..      ...                            ...                         ...
 248  2009q1                        14383.9                     14375.0
 249  2009q2                        14340.4                     14355.6
 250  2009q3                        14384.1                     14402.5
 251  2009q4                        14566.5                     14541.9
 252  2010q1                        14681.1                     14604.8
 253  2010q2                        14888.6                     14745.9
 254  2010q3                        15057.7                     14845.5
 255  2010q4                        15230.2                     14939.0
 256  2011q1                        15238.4                     14881.3
 257  2011q2                        15460.9                     14989.6
 258  2011q3                        15587.1                     15021.1
 259  2011q4                        15785.3                     15190.3
 260  2012q1                        15973.9                     15291.0
 261  2012q2                        16121.9                     15362.4
 262  2012q3                        16227.9                     15380.8
 263  2012q4                        16297.3                     15384.3
 264  2013q1                        16475.4                     15491.9
 265  2013q2                        16541.4                     15521.6
 266  2013q3                        16749.3                     15641.3
 267  2013q4                        16999.9                     15793.9
 268  2014q1                        17025.2                     15747.0
 269  2014q2                        17285.6                     15900.8
 270  2014q3                        17569.4                     16094.5
 271  2014q4                        17692.2                     16186.7
 272  2015q1                        17783.6                     16269.0
 273  2015q2                        17998.3                     16374.2
 274  2015q3                        18141.9                     16454.9
 275  2015q4                        18222.8                     16490.7
 276  2016q1                        18281.6                     16525.0
 277  2016q2                        18450.1                     16583.1

      GDPchange
 0          NaN
 1         -2.2
 2         -2.0
 3         30.4
 4         28.8
 5         32.4
 6         11.3
 7          2.1
 8        -27.8
 9         -6.7
 10        22.0
 11       -18.1
 12        79.9
 13        63.0
 14        82.8
 15        43.0
 16        31.1
 17        40.0
 18        48.3
 19         5.3
 20        25.4
 21         5.0
 22        17.6
 23        80.3
 24        47.0
 25        20.1
 26       -14.6
 27       -39.1
 28       -11.8
 29         2.7
 ..         ...
 248     -202.0
 249      -19.4
 250       46.9
 251      139.4
 252       62.9
 253      141.1
 254       99.6
 255       93.5
 256      -57.7
 257      108.3
 258       31.5
 259      169.2
 260      100.7
 261       71.4
 262       18.4
 263        3.5
 264      107.6
 265       29.7
 266      119.7
 267      152.6
 268      -46.9
 269      153.8
 270      193.7
 271       92.2
 272       82.3
 273      105.2
 274       80.7
 275       35.8
 276       34.3
 277       58.1

 [278 rows x 4 columns],    Countd Beg_Quarterd Countr Beg_Quarterr
 0       2       1949q1      2       1949q4
 1       1       1949q4     15       1950q2
 2       3       1953q3      8       1954q3
 3       1       1956q1      2       1956q3
 4       1       1956q3      3       1957q1
 5       1       1957q2      2       1957q4
 6       2       1957q4      6       1958q3
 7       1       1959q3      3       1960q1
 8       1       1960q2      2       1960q4
 9       1       1960q4     36       1961q2
 10      2       1969q4      3       1970q3
 11      1       1970q4     11       1971q2
 12      1       1973q3      2       1974q1
 13      1       1974q1      2       1974q3
 14      3       1974q3     21       1975q3
 15      2       1980q2      3       1981q1
 16      1       1981q2      2       1981q4
 17      2       1981q4      2       1982q3
 18      1       1982q3     33       1983q1
 19      2       1990q4     40       1991q3
 20      1       2001q1      2       2001q3
 21      1       2001q3     26       2002q1
 22      1       2008q1      2       2008q3
 23      4       2008q3      7       2009q4
 24      1       2011q1     12       2011q3
 25      1       2014q1     10       2014q3)

### Start of the Recession

In [130]:
'''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
GDP,Rec = gdp,recesp
start = Rec.loc[Rec['Countd']==Rec['Countd'].max()]['Beg_Quarterd'].to_string(header = False, index = False)
start

'2008q3'

### End of the Recession

In [131]:
'''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
GDP, Rec = gdp,recesp
end = Rec.loc[Rec['Countd']==Rec['Countd'].max()]['Beg_Quarterr'].to_string(header = False, index = False)
end

'2009q4'

### Bottom of the Recession

In [132]:
'''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
GDP,Rec = gdp,recesp
start = Rec.loc[Rec['Countd']==Rec['Countd'].max(),'Beg_Quarterd'].to_string(header = False, index = False)
n = Rec['Countd'].max()
bottom = GDP.loc[GDP[GDP['Quarter'] == start].index.values + (n-1),'Quarter'].to_string(header = False, index = False)
bottom

'2009q2'

### Reading and converting Zillow House prices data to Quarters

In [133]:
'''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
house = pd.read_csv("City_Zhvi_AllHomes.csv",header = 0)
#t = house.columns[house.columns.str.contains('\d\d\d\d')]  # Index containing all date column names from original data
#dtInd = pd.date_range(t.values[0],periods = 245,freq = 'M') # forming dateIndex from t
    
# Creating a subset of house data with all the columns with date labels
house1 = house.iloc[:,6:].T
house1.index = pd.to_datetime(house1.index)  # Converting the index to datetimeIndex
    
# Sampling all the date column labels as a quarter and from 2001 onward
mn_pric = house1[house1.index > '2000-12-31'].resample('Q').mean()
    
#merging back the quartered data with the original data
data1 = house.iloc[:,0:5].merge(mn_pric.T, how = 'inner', left_index = True, right_index = True)
data1 = data1.reset_index()
#data1 = data1.set_index(['State','RegionName'])

#Creating another subset of merged data to convert column date labels to the format 'yyyyq#'
data2 = data1.iloc[:,6:].T
data2.index = pd.to_datetime(data2.index)
data2.index = data2.index.year.astype('str') + 'q' + data2.index.quarter.astype('str')
houseprices = data1.iloc[:,0:6].merge(data2.T.iloc[:,:], how = 'inner',left_index = True, right_index = True)
houseprices = houseprices.set_index('State')
    
# Using the 'states' dictionary to replace two letter acronym with state names
for key,values in states.items():
    houseprices.index.values[houseprices.index == key] = values
houseprices = houseprices.reset_index()
houseprices = houseprices.set_index(['State','RegionName'])
houseprices.sort_index(level =0,inplace = True)
houseprices

                           index  RegionID                Metro   CountyName  \
State     RegionName
Alabama   Adamsville        5344     10040           Birmingham    Jefferson
          Alabaster         1680     43839           Birmingham       Shelby
          Albertville       1561      8332          Albertville     Marshall
          Arab              3087     35038          Albertville     Marshall
          Ardmore           5433     57107           Huntsville      Madison
          Axis              8799     23564               Mobile       Mobile
          Baileyton         9914     44007              Cullman      Cullman
          Bay Minette       3030      3562               Daphne      Baldwin
          Bayou La Batre    9801     10284               Mobile       Mobile
          Bessemer          2125     16997           Birmingham    Jefferson
          Birmingham         120     10417           Birmingham    Jefferson
          Boaz              5093      3732          Albertville     Marshall
          Brent             7767      3798           Birmingham         Bibb
          Brighton          7865     37574           Birmingham    Jefferson
          Brookwood         6497      3842           Tuscaloosa   Tuscaloosa
          Buhl              9866     17223           Tuscaloosa   Tuscaloosa
          Calera            3509     44402           Birmingham       Shelby
          Center Point      4543     44519           Birmingham    Jefferson
          Centreville       6328     44535           Birmingham         Bibb
          Chalkville        9020    103474           Birmingham    Jefferson
          Chancellor        9285      4043           Enterprise       Coffee
          Chelsea          10035     37845           Birmingham       Shelby
          Chickasaw         5025     30870               Mobile       Mobile
          Chunchula         7949      8211               Mobile       Mobile
          Citronelle        4416     48822               Mobile       Mobile
          Clay              9837     57092           Birmingham    Jefferson
          Coden             9557     24145               Mobile       Mobile
          Coker             9144     44672           Tuscaloosa   Tuscaloosa
          Concord           9948     37993           Birmingham    Jefferson
          Cottondale        3882     36819           Tuscaloosa   Tuscaloosa
...                          ...       ...                  ...          ...
Wisconsin Vernon            6232    398534            Milwaukee     Waukesha
          Vienna            8354    398543              Madison         Dane
          Vinland           7989    396938              Oshkosh    Winnebago
          Wales            10357     48303            Milwaukee     Waukesha
          Waterford         6456    399085               Racine       Racine
          Waukesha           819     34683            Milwaukee     Waukesha
          Waunakee          7609     34685              Madison         Dane
          Waupun            2963     55059          Fond du Lac  Fond du Lac
          Wausau            1653     14501               Wausau     Marathon
          Wayne             8087    397462            Milwaukee   Washington
          West Allis         654     34721            Milwaukee    Milwaukee
          Weston            4209     21260               Wausau     Marathon
          Wheatland         6743    398205              Chicago      Kenosha
          Whitelaw          8933     29264            Manitowoc    Manitowoc
          Williams Bay      9097     41713           Whitewater     Walworth
          Wilson            7955    398518            Sheboygan    Sheboygan
          Wilson            9821     55222  Minneapolis-St Paul  Saint Croix
          Wind Lake         7224     15992               Racine       Racine
          Wind Point        9464    254727               Racine       Racine
          Wisconsin Dells   5827     29435              Madison     Columbia
          Wolf River        9636    397938              Oshkosh    Winnebago
          Woodruff          7429     34904                  NaN        Vilas
          Woodville         8589     14720  Minneapolis-St Paul  Saint Croix
          Yorkville         5901    398781               Racine       Racine
Wyoming   Bar Nunn         10602     50851               Casper      Natrona
          Burns            10091     23888             Cheyenne      Laramie
          Casper             575      4002               Casper      Natrona
          Cheyenne           374     44571             Cheyenne      Laramie
          Evansville        9983     11364               Casper      Natrona
          Pine Bluffs      10031     19945             Cheyenne      Laramie

                                  2001q1         2001q2         2001q3  \
State     RegionName
Alabama   Adamsville        73466.666667   74000.000000   73333.333333
          Alabaster        123233.333333  125133.333333  127766.666667
          Albertville       75900.000000   76000.000000   72066.666667
          Arab              84200.000000   84533.333333   81666.666667
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85700.000000   87266.666667   85900.000000
          Bayou La Batre    42500.000000   43333.333333   45433.333333
          Bessemer                   NaN            NaN            NaN
          Birmingham        56833.333333   57600.000000   58433.333333
          Boaz              72833.333333   71900.000000   68733.333333
          Brent             96533.333333   98500.000000   99366.666667
          Brighton                   NaN            NaN            NaN
          Brookwood        101666.666667  103666.666667  101833.333333
          Buhl              99266.666667  101966.666667  102000.000000
          Calera           109333.333333  112200.000000  114333.333333
          Center Point      83366.666667   84333.333333   84466.666667
          Centreville       98100.000000   99266.666667  100400.000000
          Chalkville        96066.666667   97433.333333   98400.000000
          Chancellor                 NaN            NaN            NaN
          Chelsea          170633.333333  174300.000000  174900.000000
          Chickasaw         55133.333333   53566.666667   53533.333333
          Chunchula         85400.000000   86100.000000   86733.333333
          Citronelle        67866.666667   70000.000000   71466.666667
          Clay             128033.333333  128300.000000  129233.333333
          Coden             68933.333333   71300.000000   72733.333333
          Coker            114066.666667  115700.000000  118833.333333
          Concord           85133.333333   85800.000000   84866.666667
          Cottondale       106733.333333  109233.333333  109200.000000
...                                  ...            ...            ...
Wisconsin Vernon           186233.333333  190500.000000  193100.000000
          Vienna           190600.000000  191566.666667  193733.333333
          Vinland          144300.000000  148200.000000  147733.333333
          Wales                      NaN            NaN            NaN
          Waterford        127000.000000  133000.000000  139233.333333
          Waukesha         147600.000000  151066.666667  153100.000000
          Waunakee         197333.333333  198500.000000  201266.666667
          Waupun            85100.000000   86600.000000   87666.666667
          Wausau            69866.666667   71366.666667   73100.000000
          Wayne                      NaN            NaN            NaN
          West Allis        79100.000000   80333.333333   81433.333333
          Weston            87266.666667   88500.000000   90066.666667
          Wheatland        142566.666667  143000.000000  143966.666667
          Whitelaw         116333.333333  114966.666667  115666.666667
          Williams Bay     112600.000000  117100.000000  119533.333333
          Wilson           143533.333333  143833.333333  143233.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        132133.333333  139466.666667  144200.000000
          Wind Point       158666.666667  163966.666667  170833.333333
          Wisconsin Dells  105533.333333  107100.000000  109866.666667
          Wolf River       111400.000000  115033.333333  116900.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        148800.000000  155233.333333  161133.333333
Wyoming   Bar Nunn          98833.333333   99900.000000   99100.000000
          Burns            115833.333333  117200.000000  117800.000000
          Casper            95500.000000   97633.333333   99433.333333
          Cheyenne         125533.333333  126300.000000  126466.666667
          Evansville       130566.666667  131433.333333  132400.000000
          Pine Bluffs      103233.333333  104600.000000  106500.000000

                                  2001q4         2002q1         2002q2  \
State     RegionName
Alabama   Adamsville        73100.000000   73333.333333   73133.333333
          Alabaster        127200.000000  127300.000000  128000.000000
          Albertville       73566.666667   76533.333333   76366.666667
          Arab              83900.000000   87266.666667   87700.000000
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85000.000000   84066.666667   84566.666667
          Bayou La Batre    45400.000000   45400.000000   45566.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        58700.000000   59500.000000   59866.666667
          Boaz              69833.333333   72766.666667   72100.000000
          Brent            104100.000000  103800.000000  102533.333333
          Brighton                   NaN            NaN            NaN
          Brookwood         99900.000000   99633.333333  100366.666667
          Buhl             102733.333333  102533.333333  100100.000000
          Calera           112133.333333  111500.000000  111233.333333
          Center Point      85333.333333   86100.000000   86500.000000
          Centreville      104633.333333  105233.333333  105066.666667
          Chalkville        99366.666667   99866.666667  100733.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          173300.000000  170566.666667  171100.000000
          Chickasaw         53400.000000   54266.666667   55000.000000
          Chunchula         86566.666667   86166.666667   86533.333333
          Citronelle        70933.333333   69833.333333   68133.333333
          Clay             130466.666667  130900.000000  131100.000000
          Coden             73600.000000   72933.333333   69100.000000
          Coker            122566.666667  122366.666667  119200.000000
          Concord           84766.666667   86366.666667   90366.666667
          Cottondale       109900.000000  109333.333333  107966.666667
...                                  ...            ...            ...
Wisconsin Vernon           197466.666667  201800.000000  201966.666667
          Vienna           194833.333333  198466.666667  202466.666667
          Vinland          151200.000000  149233.333333  146433.333333
          Wales                      NaN            NaN            NaN
          Waterford        143100.000000  145733.333333  151266.666667
          Waukesha         155033.333333  158200.000000  157833.333333
          Waunakee         202100.000000  206100.000000  208533.333333
          Waupun            87100.000000   87533.333333   87466.666667
          Wausau            74033.333333   76400.000000   78700.000000
          Wayne                      NaN            NaN            NaN
          West Allis        82400.000000   84966.666667   87566.666667
          Weston            91766.666667   94833.333333   97600.000000
          Wheatland        142633.333333  143933.333333  146433.333333
          Whitelaw         115866.666667  117766.666667  116800.000000
          Williams Bay     121400.000000  126566.666667  131700.000000
          Wilson           141966.666667  142466.666667  139200.000000
          Wilson                     NaN            NaN            NaN
          Wind Lake        147333.333333  150933.333333  156166.666667
          Wind Point       169566.666667  170533.333333  179733.333333
          Wisconsin Dells  111633.333333  115833.333333  117333.333333
          Wolf River       118233.333333  118600.000000  116800.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        162800.000000  164866.666667  172466.666667
Wyoming   Bar Nunn          98333.333333   98633.333333  100866.666667
          Burns            117633.333333  117333.333333  117233.333333
          Casper           100633.333333  101733.333333  101533.333333
          Cheyenne         128133.333333  128466.666667  129633.333333
          Evansville       133466.666667  133300.000000  131066.666667
          Pine Bluffs      104066.666667  102233.333333  103566.666667

                             ...            2014q2         2014q3  \
State     RegionName         ...
Alabama   Adamsville         ...      77066.666667   75966.666667
          Alabaster          ...     147133.333333  147633.333333
          Albertville        ...      84033.333333   84766.666667
          Arab               ...     113366.666667  111700.000000
          Ardmore            ...     140533.333333  139566.666667
          Axis               ...     111066.666667  111833.333333
          Baileyton          ...      87666.666667   90033.333333
          Bay Minette        ...     113333.333333  110600.000000
          Bayou La Batre     ...      49800.000000   51000.000000
          Bessemer           ...      54600.000000   55333.333333
          Birmingham         ...      61733.333333   60900.000000
          Boaz               ...      80933.333333   81866.666667
          Brent              ...      93866.666667   97100.000000
          Brighton           ...      45366.666667   45133.333333
          Brookwood          ...     106633.333333  110233.333333
          Buhl               ...     119233.333333  132033.333333
          Calera             ...     125533.333333  126733.333333
          Center Point       ...      78833.333333   78433.333333
          Centreville        ...      95566.666667   98866.666667
          Chalkville         ...     105233.333333  104333.333333
          Chancellor         ...     116400.000000  117000.000000
          Chelsea            ...     197133.333333  199066.666667
          Chickasaw          ...      59000.000000   60400.000000
          Chunchula          ...     120666.666667  121600.000000
          Citronelle         ...      88600.000000   89633.333333
          Clay               ...     134100.000000  134300.000000
          Coden              ...      77566.666667   76866.666667
          Coker              ...     141700.000000  146300.000000
          Concord            ...     104733.333333  100233.333333
          Cottondale         ...     128500.000000  130566.666667
...                          ...               ...            ...
Wisconsin Vernon             ...     257733.333333  256200.000000
          Vienna             ...     265700.000000  267466.666667
          Vinland            ...     181766.666667  183500.000000
          Wales              ...     262133.333333  262233.333333
          Waterford          ...     213133.333333  213166.666667
          Waukesha           ...     181166.666667  180433.333333
          Waunakee           ...     278100.000000  283866.666667
          Waupun             ...     113166.666667  113066.666667
          Wausau             ...      91600.000000   93533.333333
          Wayne              ...     238633.333333  238966.666667
          West Allis         ...      90433.333333   90933.333333
          Weston             ...     133233.333333  133033.333333
          Wheatland          ...     169266.666667  170166.666667
          Whitelaw           ...     120433.333333  121700.000000
          Williams Bay       ...     223000.000000  230366.666667
          Wilson             ...     159933.333333  157633.333333
          Wilson             ...     170300.000000  174433.333333
          Wind Lake          ...     228200.000000  226133.333333
          Wind Point         ...     261233.333333  254666.666667
          Wisconsin Dells    ...     137500.000000  138933.333333
          Wolf River         ...     162666.666667  164733.333333
          Woodruff           ...     172133.333333  171600.000000
          Woodville          ...     162600.000000  169566.666667
          Yorkville          ...     231500.000000  238133.333333
Wyoming   Bar Nunn           ...     199233.333333  200933.333333
          Burns              ...     168866.666667  161933.333333
          Casper             ...     175766.666667  177300.000000
          Cheyenne           ...     177466.666667  176733.333333
          Evansville         ...     296733.333333  305666.666667
          Pine Bluffs        ...     148666.666667  154366.666667

                                  2014q4         2015q1         2015q2  \
State     RegionName
Alabama   Adamsville        71900.000000   71666.666667   73033.333333
          Alabaster        148700.000000  148900.000000  149566.666667
          Albertville       86800.000000   88466.666667   89500.000000
          Arab             111600.000000  110166.666667  109433.333333
          Ardmore          140900.000000  143233.333333  143000.000000
          Axis             111800.000000  109533.333333  109666.666667
          Baileyton         94100.000000   94600.000000   95666.666667
          Bay Minette      109900.000000  111100.000000  114300.000000
          Bayou La Batre    51766.666667   50733.333333   50500.000000
          Bessemer          54733.333333   55200.000000   57200.000000
          Birmingham        59533.333333   59900.000000   61966.666667
          Boaz              82866.666667   83966.666667   85266.666667
          Brent            100100.000000  102433.333333  101800.000000
          Brighton          43766.666667   42500.000000   44233.333333
          Brookwood        114366.666667  117700.000000  118700.000000
          Buhl             138400.000000  141766.666667  141200.000000
          Calera           127633.333333  128366.666667  128033.333333
          Center Point      80200.000000   80100.000000   80233.333333
          Centreville      101866.666667  103933.333333  104600.000000
          Chalkville       105866.666667  106966.666667  107666.666667
          Chancellor       117133.333333  114733.333333  109733.333333
          Chelsea          199933.333333  202333.333333  205633.333333
          Chickasaw         59733.333333   58066.666667   57633.333333
          Chunchula        122733.333333  123666.666667  124333.333333
          Citronelle        90766.666667   91300.000000   92400.000000
          Clay             135466.666667  138466.666667  139633.333333
          Coden             77800.000000   79300.000000   81900.000000
          Coker            154333.333333  157566.666667  157166.666667
          Concord           94800.000000   96200.000000  103466.666667

### Returning the t-test decision on hypothesis and the correspondng p-value

In [134]:
'''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
# Obtaining list of university towns, recession start, recession bottom, and house pricing data
unitowns = unitowns.set_index(['State','RegionName'])
    
# Obtaining column poistion so as to extract prices before recession start
a = houseprices.columns.get_loc(start)
b = houseprices.columns.get_loc(bottom)
    
# Extracting house prices before recession start and at recession bottom and calculating the price growth/decline
testdata = houseprices.iloc[:,[a-1,b]]
testdata.loc[:,'priceratio'] = testdata.iloc[:,0]/testdata.iloc[:,1]
    
# Separating the testdata into two groups: university towns and non-university towns
idx = pd.IndexSlice
UTdata = pd.DataFrame(columns = ['priceratio'])
NonUTdata = pd.DataFrame(columns = ['priceratio'])

merged = unitowns.merge(testdata,how ='outer', left_index = True, right_index = True, indicator = True)
UTdata = merged.loc[merged['_merge'] == 'both',:]
NonUTdata =  merged.loc[merged['_merge'] == 'right_only',:]

from scipy import stats
tt = stats.ttest_ind(UTdata['priceratio'],NonUTdata['priceratio'],nan_policy = 'omit')
different = False
if (tt.pvalue < 0.01):
    different = True
UTmeanpriceratio = UTdata.loc[:,'priceratio'].mean()
NonUTmeanpriceratio = NonUTdata.loc[:,'priceratio'].mean()
better = 'university town'
if (UTmeanpriceratio > NonUTmeanpriceratio):
    better = 'non-university town'
different, tt.pvalue, better

(True, 0.002724063704753125, 'university town')